* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

header {
  background-color: #ff0000;
  width: 100%; }
  header nav {
    display: flex;
    justify-content: space-between; }
  header .navbar {
    padding-left: 10px;
    display: flex;
    gap: 1.5625rem;
    list-style: none;
    font-size: 1.25rem;
    align-items: center; }
    header .navbar :hover {
      font-size: x-large;
      background-color: rgba(226, 128, 128, 0.842);
      border-radius: 5%; }
  header .logobaggio {
    width: 250px; }
  header .idioma {
    width: 60px;
    float: right; }
  header .sesion {
    width: 60px; }
  header a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

main .marcas {
  display: flex;
  justify-content: space-around; }

main img {
  width: 10%; }

main .principal {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "item2 item1 item1 item1 item1 item3" "item2 item1 item1 item1 item1 item3" "item2 item1 item1 item1 item1 item3" "item2 item1 item1 item1 item1 item3"; }

main .imgs {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2" "img3 img4"; }

main .principal .imgprincipal {
  grid-area: item1;
  width: 100%; }

main .principal article {
  color: black;
  text-align: center;
  background-color: rgba(226, 128, 128, 0.842);
  font-size: large; }

main .principal .art1 {
  border-left: 10px;
  grid-area: item2;
  height: 100%;
  border-radius: 6%; }

main .principal .art2 {
  grid-area: item3;
  height: 100%;
  border-radius: 6%; }

main .imagen1 {
  grid-area: img1;
  width: 100%;
  height: 55vh; }

main .imagen2 {
  grid-area: img2;
  width: 100%;
  height: 55vh; }

main .imagen3 {
  grid-area: img3;
  width: 100%;
  height: 55vh; }

main .imagen4 {
  grid-area: img4;
  width: 100%;
  height: 55vh; }

.contac {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contac .recursoshumanos {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    background-color: rgba(226, 128, 128, 0.842);
    padding: 30px;
    border-radius: 10%; }
  .contac .humanos {
    width: 50px; }
  .contac .contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(226, 128, 128, 0.842);
    padding: 10px;
    border-radius: 10%; }
  .contac .ubicacion {
    width: 50px; }

main .produccion {
  padding: 10px;
  line-height: 200%;
  color: black;
  text-align: justify;
  background-color: rgba(226, 128, 128, 0.842);
  font-size: large; }

main .procesos {
  width: 49%; }

main .historia {
  padding: 10px;
  line-height: 200%;
  color: black;
  text-align: justify;
  background-color: rgba(226, 128, 128, 0.842);
  font-size: medium; }
  main .historia ::first-letter {
    font-size: larger; }
  main .historia .historia2 img {
    width: 49%;
    padding-top: 25px; }

footer {
  background-color: #ff0000; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: .625rem; }

.facebook {
  width: 40px; }

.instagram {
  width: 40px; }

.tik-tok {
  width: 40px; }

.linkedin {
  width: 40px; }

@media (max-width: 48rem) {
  header {
    background-color: #ff0000;
    width: 100%; }
    header nav {
      display: flex;
      justify-content: space-between; }
    header .navbar {
      display: flex;
      gap: 1.25rem;
      list-style: none;
      font-size: 1.125rem;
      align-items: center;
      padding-left: 0.625rem; }
      header .navbar :hover {
        font-size: x-large;
        background-color: rgba(226, 128, 128, 0.842);
        border-radius: 5%; }
    header .logobaggio {
      width: 200px; }
    header .idioma {
      width: 40px;
      float: right; }
    header .sesion {
      width: 40px; }
    header a {
      text-decoration: none;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  footer {
    background-color: #ff0000; }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .625rem; }
  .facebook {
    height: 20px;
    width: 20px; }
  .linkedin {
    height: 20px;
    width: 20px; }
  .tik-tok {
    height: 20px;
    width: 20px; }
  .instagram {
    height: 20px;
    width: 20px; }
  main .historia {
    padding: 10px;
    line-height: 200%;
    color: black;
    text-align: justify;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: x-small; }
    main .historia ::first-letter {
      font-size: larger; }
    main .historia .historia2 img {
      width: 49%;
      padding-top: 25px; }
  main .produccion {
    padding: 5px;
    line-height: 200%;
    color: black;
    text-align: justify;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: small; }
  main .procesos {
    width: 49%; }
  .contac {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contac .recursoshumanos {
      font-size: xx-small;
      display: flex;
      flex-direction: column;
      gap: .3125rem;
      background-color: rgba(226, 128, 128, 0.842);
      padding: auto;
      border-radius: 10%; }
    .contac .humanos {
      width: 30px; }
    .contac .contactos {
      font-size: xx-small;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgba(226, 128, 128, 0.842);
      padding: auto;
      border-radius: 10%; }
    .contac .ubicacion {
      width: 30px; }
  main .marcas {
    display: flex;
    justify-content: space-between; }
  main img {
    width: 15%; }
  main .principal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-areas: "item1 item1 item1 item1" "item1 item1 item1 item1" "item3 item3 item3 item3" "item2 item2 item2 item2"; }
  main .imgs {
    margin-top: 5px;
    display: flex;
    flex-direction: column; }
  main .principal .imgprincipal {
    grid-area: item1;
    width: 100%; }
  main .principal article {
    color: black;
    text-align: center;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: medium; }
  main .principal .art1 {
    grid-area: item2;
    height: min-content;
    border-radius: 3%; }
  main .principal .art2 {
    grid-area: item3;
    height: min-content;
    border-radius: 3%; }
  main .imagen1 {
    width: 100%;
    height: 100%; }
  main .imagen2 {
    width: 100%;
    height: 100%; }
  main .imagen3 {
    width: 100%;
    height: 100%; }
  main .imagen4 {
    width: 100%;
    height: 100%; } }

@media (max-width: 22.5rem) {
  header {
    background-color: #ff0000;
    width: 100%; }
    header nav {
      display: flex;
      justify-content: space-between; }
    header .navbar {
      display: flex;
      gap: 0.9375rem;
      list-style: none;
      font-size: small;
      align-items: center;
      padding-left: 0.625rem; }
      header .navbar :hover {
        font-size: x-large;
        background-color: rgba(226, 128, 128, 0.842);
        border-radius: 5%; }
    header .logobaggio {
      width: 150px; }
    header .idioma {
      width: 30px;
      float: right; }
    header .sesion {
      width: 30px; }
    header a {
      text-decoration: none;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  footer {
    background-color: #ff0000;
    font-size: small; }
  footer.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .625rem; }
  .facebook {
    height: 20px;
    width: 20px; }
  .linkedin {
    height: 20px;
    width: 20px; }
  .tik-tok {
    height: 20px;
    width: 20px; }
  .instagram {
    height: 20px;
    width: 20px; }
  main .historia {
    padding: 10px;
    line-height: 200%;
    color: black;
    text-align: justify;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: x-small; }
    main .historia ::first-letter {
      font-size: larger; }
    main .historia .historia2 img {
      width: 49%;
      padding-top: 25px; }
  main .produccion {
    padding: 5px;
    line-height: 200%;
    color: black;
    text-align: justify;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: small; }
  main .procesos {
    width: 49%; }
  .contac {
    padding: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contac .recursoshumanos {
      display: flex;
      flex-direction: column;
      gap: .3125rem;
      background-color: rgba(226, 128, 128, 0.842);
      padding: auto;
      border-radius: 10%; }
    .contac .humanos {
      width: 20px; }
    .contac .contactos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgba(226, 128, 128, 0.842);
      padding: auto;
      border-radius: 10%; }
    .contac .ubicacion {
      width: 20px; }
  main .marcas {
    display: flex;
    justify-content: space-between; }
  main img {
    width: 15%; }
  main .principal {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-areas: "item1 item1 item1 item1" "item1 item1 item1 item1" "item3 item3 item3 item3" "item2 item2 item2 item2"; }
  main .imgs {
    margin-top: 5px;
    display: flex;
    flex-direction: column; }
  main .principal .imgprincipal {
    grid-area: item1;
    width: 100%; }
  main .principal article {
    color: black;
    text-align: center;
    background-color: rgba(226, 128, 128, 0.842);
    font-size: small; }
  main .principal .art1 {
    grid-area: item2;
    height: min-content;
    border-radius: 3%; }
  main .principal .art2 {
    grid-area: item3;
    height: min-content;
    border-radius: 3%; }
  main .imagen1 {
    width: 100%;
    height: 100%; }
  main .imagen2 {
    width: 100%;
    height: 100%; }
  main .imagen3 {
    width: 100%;
    height: 100%; }
  main .imagen4 {
    width: 100%;
    height: 100%; } }
