main .produccion{
    padding: 10px;
    line-height: 200%;
    color: black;
    text-align:justify;
    background-color: map-get($colores , color2 );
    font-size: large;}
main .procesos{width: 49%;}
